@import "tailwindcss";

/* tokens */
@theme {
  --font-sans: "MD Sans", system-ui, sans-serif;
  --color-beige-100: #F7F3F0;  /* light beige 100 */
  --color-beige-300: #EEE8E4;   /* light beige 300*/
  --color-white: #FFFFFF;         /* white */

  --color-primary: #212121;         /* black */
  --color-secondary: #757575;       /* gray */
  --color-muted: #BDBDBD;           /* gray text blocked */

  --color-card: #F5F5F5;            /* Card-bg-gray */
  --color-divider: #E0E0E0;         /* gray-border */
  --gradient-brand: radial-gradient(60% 50% at 100% 0%, #FFBBE1 0%, transparent 60%),
                   linear-gradient(135deg, #FF7342 0%, #B176FF 100%);
}

/* reusable card class */
@utility school-card {
  max-width: 720px;
  border-radius: 16px;
  padding: 20px;
  gap: 24px;
  backdrop-filter: blur(16px);
  background-image: var(--gradient-brand);
  color: white;
}

@utility bg-brand-gradient {
  background-image: var(--gradient-brand);
}


